<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light" style="border-radius: 20px;">
            <img class="profile_image" src="../../assets/images/profile.png" style="display:block; margin:auto;">
            <div style="margin-top: 20px; text-align: center;">
                <span>
                    이것 저것 공부하고 여행다니는 블로그
                </span>
                <div class="link_style" style="margin-top: 20px; text-align: center;">
                    <a href="/about"><i class="fa-solid fa-user fa-fw fa-xl me-2"></i></a>
                    <a href="mailto:socotra567118@gmail.com"><i class="fa-solid fa-envelope fa-fw fa-xl me-2"></i></a>
                    <a href="https://github.com/socotra567118"><i class="fa-brands fa-github fa-fw fa-xl me-2"></i></a>
                    <a href="https://www.instagram.com/socotra_apps/"><i class="fa-brands fa-instagram fa-fw fa-xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>