<footer class="text-center text-lg-start" style="background-color: rgb(240, 240, 240);">
  <div class="container p-4">
      <div class="row mt-4">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Services</h5>

              <ul class="list-unstyled mb-0 text-color">
                  <li>
                      <a href="/ios"><i class="fa-brands fa-app-store-ios fa-fw fa-sm me-2"></i>iOS</a>
                  </li>
                  <li>
                      <a href="/android"><i class="fa-brands fa-google-play fa-fw fa-sm me-2"></i>Android</a>
                  </li>
                  <li>
                      <a href="/others"><i class="fa-solid fa-list fa-fw fa-sm me-2"></i>Others</a>
                  </li>
              </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-color">
              <h5 class="text-uppercase">Blog</h5>

              <ul class="list-unstyled">
                  <li>
                      <a href="/services"><i class="fas fa-book fa-fw fa-sm me-2"></i>Services</a>
                  </li>
                  <li>
                      <a href="/programming"><i class="fa-solid fa-code fa-fw fa-sm me-2"></i>Programming</a>
                  </li>
                  <li>
                      <a href="/travels"><i class="fa-solid fa-globe fa-fw fa-sm me-2"></i>Travel</a>
                  </li>
              </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-color">
              <h5 class="text-uppercase">Contact</h5>

              <ul class="list-unstyled">
                  <li>
                      <a href="/contact"><i class="fa-solid fa-phone fa-fw fa-sm me-2"></i>Contact me</a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/socotra_apps/"><i class="fa-brands fa-instagram fa-fw fa-sm me-2"></i>Instagram</a>
                  </li>
                  <li>
                      <a href="https://github.com/socotra567118"><i class="fa-brands fa-github fa-fw fa-sm me-2"></i>Github</a>
                  </li>
              </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-color">
              <h5 class="text-uppercase">About</h5>

              <ul class="list-unstyled">
                  <li>
                      <a href="/about"><i class="fa-solid fa-user fa-fw fa-sm me-2"></i>About me</a>
                  </li>
                  <li>
                      <a href="/privacy_policy"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Privacy Policy</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(50, 50, 50, 0.2)">
      © 2022 Copyright: Socotra
  </div>
</footer>