.blog_list {
    padding-left: 20px;
}

.article {
    padding-top: 14px;
    padding-bottom: 12px;
}

.article_paragraph {
    padding-bottom: 12px;
}

.article_paragraph img {
    vertical-align: middle;
}

.article_paragraph span {
    vertical-align: middle;
}

.article_title {
    color: black;
}

.programing_title {
    width: 40px; 
    margin-right: 12px
}