.blog_list {
    padding-left: 20px;
}

.blog_list_under {
    padding-left: 10px;
}

.blog_list_under_div {
    padding-left: 20px;
}

.article {
    padding-top: 14px;
    padding-bottom: 12px;
}

.article_paragraph {
    padding-bottom: 12px;
}

.article_paragraph img {
    vertical-align: middle;
}

.article_paragraph span {
    vertical-align: middle;
}

.article_title {
    color: black;
}

.programing_title {
    width: 40px; 
    margin-right: 12px
}

/* 프로필 이미지 */
.profile_image {
    background-color: rgba(209, 236, 252, 0.8);
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 12px;
}