html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: 40px; 
    padding-bottom: 40px;
}

a {
    text-decoration-line: none;
}

.link_list li {
    line-height: 1.8;
}

.link_list a {
    color: black;
}

.link_list img {
    width: 20px; 
    margin-right: 5px;
}