html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: 40px; 
    padding-bottom: 40px;
}

a {
    text-decoration-line: none;
}