html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: 40px; 
    padding-bottom: 40px;
}

a {
    text-decoration-line: none;
}

.link_list li {
    line-height: 1.8;
}

.link_list a {
    color: black;
}

.link_list img {
    width: 20px; 
    margin-right: 5px;
}

/* 준비중, 404 에러 페이지 */
.preparing {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

/* 링크 스타일 */
.link_style a {
    color: black;
}

.link_style i {
    color: black;
}

/* 개인정보 처리방침 링크 스타일 */
.privacy_link_style a {
    color: rgb(70, 70, 200);
}